<!DOCTYPE html>
<html>
  <head>
    <title>Lab1 TARCE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>A침adiendo rutas y bases de datos a mi p치gina web</h1>
    <div align="center"><img src="https://e17r5k-datap1.s3-eu-west-1.amazonaws.com/evercorp-empleo-blog/s3fs-public/estructura_inicial_2.png"></div>
    <h2>Bienvenidos a la primera pr치ctica de TARCE<br></h2>
    <p>Visita las otras rutas de esta p치gina </p>

    <div class="dropdown">
      <button>HubSpot Resources</button>
      <div class="dropdown-content">
        <a href="https://mysterious-dawn-35964.herokuapp.com/servicios">Servicios</a>
        <a href="https://mysterious-dawn-35964.herokuapp.com/bd">Base de Datos</a>
        <a href="https://mysterious-dawn-35964.herokuapp.com/mejoras">Mejoras</a>
      </div>
    </div>

  </body>
</html>


